<h1>Guests#show</h1>
<p>Find me in app/views/guests/show.html.erb</p>
<p>名前 : <%= @guest.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p> 住所: <%= @guest.address %></p>
<p>国 : <%= @guest.country %></p>
<p> 電話: <%= @guest.phone_number %></p>
<p> 写真: <%= @guest.image %></p>
<p> 誕生日: <%= @guest.birthday %></p>
