<%= form.fields_for :guest, user.guest || user.build_guest do |g| %>
  <div class="field">
    <%#= g.label :image %><br/>
    <%#= g.file_field :image %>
  </div>

    <div class="field">
    <%= g.label :address %><br />
    <%= g.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= g.label :phone_number %><br />
    <%= g.text_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%= g.label :country %><br />
    <%= g.text_field :country, autofocus: true %>
  </div>

  <div class="field">
    <%= g.label :birthday %><br />
    <%= g.text_field :birthday, autofocus: true %>
  </div>

  <div class="field">
    <%= g.label :image %><br />
    <%= g.text_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= g.label :gender %><br />
    <%= g.select :gender, Guest.genders.keys, {prompt: "選択"} %>
  </div>
<% end %>

