<%= form.fields_for :host do |h| %>

  <div class="field">
    <div style="color: red;"><%= resource.errors.full_messages_for(:"guest.name").first %></div>
    <div class ="badge">*</div><%= h.label :代表者 %><br />
    <%= h.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <span class="badge">＊</span><%= h.label :電話番号 %>(半角)<br />
    <%= h.text_field :phone_number, autofocus: true %>
  </div>

  <div class="field">
    <%#= h.label :image %><br />
    <%#= h.text_field :image, autofocus: true %>
  </div>

  <div class="field">
    <%= h.label :誕生日 %><br />
    <%= h.date_field :birthday, autofocus: true, class: "phone_text" %>
  </div>

  <div class="field">
    <%= h.label :プロフィール %><br />
    <%= h.text_field :profile, autofocus: true %>
  </div>

  <div class="field">
    <%= h.label :出身国 %><br />
    <%= h.text_field :country, autofocus: true %>
  </div>

<% end %>

