<div class="form_edit">
<div class="profile_edit">
<div id="focus"></div>
<div class="devise_edit">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<h1>Your info</h1>
  <div class="field">
  <%= f.label :image %><br/>
  <%= image_tag @user.image.url, class: "icon", id: :img_prev if @user.image? %><br/>
    <%= f.file_field :image, id: :user_img %><br/>
    <%# binding.irb%>
    <div class="edit_checkbox">
    <%= f.check_box :remove_image %>画像を削除する
    </div>
  </div>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, autofocus: true %>
  </div>

  <% if resource.role == "guest" %>
    <%= render 'guest', form: f %>
    <% else %>
    <%= render 'host', form: f %>
  <% end %>


  <%# byebug %>
  <div class="edit_submit">
    <%= f.submit "Update", class: "input" %>
  </div>
<%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

<% end %>
<br>
<br>
</div>
</div>
</div>
<%= link_to "Back", :back %>




<script>
const FORM = $("form"); // set form or other element here
const TYPES = ["input[type=text], input[type=submit]"]; // set which elements get targeted by the focus
const FOCUS = $("#focus"); // focus element

// function for positioning the div
function position(e) {
  // get position
  var props = {
    top: e.offset().top,
    left: e.offset().left,
    width: e.outerWidth(),
    height: e.outerHeight(),
    radius: parseInt(e.css("border-radius"))
  };

  // set position
  FOCUS.css({
    top: props.top,
    left: props.left,
    width: props.width,
    height: props.height,
    "border-radius": props.radius
  });

  FOCUS.fadeIn(200);
}

FORM.find(TYPES.join()).each(function(i) {
  // when clicking an input defined in TYPES
  $(this).focus(function() {
    el = $(this);

    // adapt size/position when resizing browser
    $(window).resize(function() {
      position(el);
    });

    position(el);
  });
});

FORM.on("focusout", function(e) {
  setTimeout(function() {
    if (!e.delegateTarget.contains(document.activeElement)) {
      FOCUS.fadeOut(200);
    }
  }, 0);
});
</script>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $("#img_prev").attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#user_img").change(function(){
   readURL(this);
 });
});

</script>
