<h2>Sign up</h2>
<div class="body2"></div>
  <div class="grad"></div>
  <div class="header2">
  <div>JPhouse<span>.com</span></div>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login">
    <%#= f.label :name %>
    <%= f.text_field :name, autofocus: true, placeholder: "name" %>

    <%#= f.label :email %>
    <%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
    <%#= f.label :password %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "password" %>
<br>
<br>
    <%#= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "password confimation" %><br />
<div class="sign_up_role">
    <%= f.select :role, User.roles.keys, {prompt: "role:選択"} %><br />
</div>
    <%= f.submit "Sign up" %><br />

<% end %>
<br />
<%= render "devise/shared/links" %>

</div>

