<%= render "header" %>
<p id="notice"><%= notice %></p>

<div class="top_header">
  <% if user_signed_in? %>
    <div class="header_coler">
      <%= link_to 'top_page', root_path, class: "header_font" %>　　
      <%= link_to "Account", user_path(current_user.id), class: "header_font" %>　　
      <%= link_to "Message", message_rooms_path(@message_rooms), class: "header_font" %>　　
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header_font" %>　　
      <%= link_to "hostel registration", new_hostel_path, class: "header_font" if current_user.host? %>
    </div>
  <% end %>
</div>

<div class="top_page">
<div class="toppage_font">enjoy trip!!</div>
<h2><%= current_user.name %>さん、どこへ行きますか？</h2>
<div id="containter">
<%= form_with(model: @q, url: hostels_path, method: :get, local: true) do |f| %>
  <%= f.label :name, "国名か宿名で検索" %><br>
  <%= f.text_field :name_or_country_cont_any, class: "textbox_two", placeholder: "Search", autocomplete: "off", maxlength: "60"%>
  <%#= f.submit %>
<% end %>
</div>



</div>

<p>あなたの現在地</p>

</div>

<div class="google_map">

<script>
    // 現在地取得処理
    function initMap() {
      // Geolocation APIに対応している
      if (navigator.geolocation) {
        // 現在地を取得
        navigator.geolocation.getCurrentPosition(
          // 取得成功した場合
          function(position) {
            // 緯度・経度を変数に格納
            var mapLatLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            // マップオプションを変数に格納
            var mapOptions = {
              zoom : 17,          // 拡大倍率
              center : mapLatLng  // 緯度・経度
            };
            // マップオブジェクト作成
            var map = new google.maps.Map(
              document.getElementById("map"), // マップを表示する要素
              mapOptions         // マップオプション
            );
            //　マップにマーカーを表示する
            var marker = new google.maps.Marker({
              map : map,             // 対象の地図オブジェクト
              position : mapLatLng   // 緯度・経度
            });
          },
          // 取得失敗した場合
          function(error) {
            // エラーメッセージを表示
            switch(error.code) {
              case 1: // PERMISSION_DENIED
                alert("位置情報の利用が許可されていません");
                break;
              case 2: // POSITION_UNAVAILABLE
                alert("現在位置が取得できませんでした");
                break;
              case 3: // TIMEOUT
                alert("タイムアウトになりました");
                break;
              default:
                alert("その他のエラー(エラーコード:"+error.code+")");
                break;
            }
          }
        );
      // Geolocation APIに対応していない
      } else {
        alert("この端末では位置情報が取得できません");
      }
    }
  </script>

  <div id="map" style="width:800px; height:400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>

</div>