<p><i class="fa fa-map-o" aria-hidden="true"></i> 住所: <%= guest.address %></p>
<p><i class="fa fa-transgender-alt" aria-hidden="true"></i> 性別: <%= guest.gender_str %></p>
<p><i class="fa fa-globe" aria-hidden="true"></i> 出身国: <%= guest.country %></p>
<p><i class="fa fa-birthday-cake" aria-hidden="true"></i> 誕生日: <%= guest.birthday %></p>
<p><i class="fa fa-phone" aria-hidden="true"></i> 電話番号: <%= guest.phone_number %></p>


