<tr>
  <td>住所</td>
  <td><%= guest.address %></td>
</tr>
<tr>
  <td>性別</td>
  <td><%= guest.gender %></td>
</tr>
<tr>
  <td>出身国</td>
  <td><%= guest.country %></td>
</tr>
<tr>
  <td>誕生日</td>
  <td><%= guest.birthday %></td>
</tr>
<tr>
  <td>電話番号</td>
  <td><%= guest.phone_number %></td>
</tr>
