<p> <i class="fa fa-user-circle" aria-hidden="true"></i>代表者: <%= host.name %></p>
<p> <i class="fa fa-phone" aria-hidden="true"></i>電話番号: <%= host.phone_number %></p>
<p> <i class="fa fa-file-text-o" aria-hidden="true"></i>プロフィール: <%= host.profile %></p>
<p> <i class="fa fa-globe" aria-hidden="true"></i>出身国: <%= host.country %></p>
<p> <i class="fa fa-birthday-cake" aria-hidden="true"></i>誕生日: <%= host.birthday %></p>
