<p> 代表者: <%= @host.name %></p>
<p> 電話番号: <%= @host.phone_number %></p>
<p> 性別: <%= @host.profile %></p>
<p> 出身国: <%= @host.country %></p>
<p> 写真: <%= @host.image %></p>
<p> 誕生日: <%= @host.birthday %></p>
