<tr>
  <td>代表者</td>
  <td><%= host.name %></td>
</tr>
<tr>
  <td>電話番号</td>
  <td><%= host.phone_number %></td>
</tr>
<tr>
  <td>プロフィール</td>
  <td><%= host.profile %></td>
</tr>
<tr>
  <td>出身国</td>
  <td><%= host.country %></td>
</tr>
<tr>
  <td>誕生日</td>
  <td><%= host.birthday %></td>
</tr>