<h1>Users#show</h1>

<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<% if @user.role == "guest" %>
<%# binding.irb %>
  <%= render 'users/guest' %>
<% else %>
   <%= render 'users/host' %>
<% end %>


<%= link_to 'edit', edit_user_registration_path(current_user.id)	%>
<%= link_to 'Back', root_path %>