<h1>Users#show</h1>
<%#= image_tag @user.image.url, class: "icon_image"　%>
<img src=<%#= @user.image %> class = "icon_image">
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>

<% if @user.role == "guest" %>
<%# binding.irb %>
  <%= render 'users/guest', locals: { guest: @guest } %>
<% else %>
   <%= render 'users/host', locals: { host: @host } %>
<% end %>


<%= link_to 'edit', edit_user_registration_path(current_user.id)	%>
<%= link_to 'Back', root_path %>

