<%= render "border" %>
<div class="profile">
<h3><%= current_user.name %>さんのプロフィール</h3>
<br>
<%= image_tag @user.image.url, class: "icon_image" %>
<br>
<br>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<% if @user.role == "guest" %>
<%# binding.irb %>
  <%= render 'users/guest', guest: @guest %>
<% else %>
  <%= render 'users/host', host: @host %>
<% end %>


<%= link_to 'edit', edit_user_registration_path	%>
<%= link_to 'Back', root_path %>
<br>

<% if @hostel.present? && current_user.host? %>
  <%= link_to '登録した宿を確認', hostel_path(@hostel) %>
<% else %>
  <%= link_to '宿を登録する', new_hostel_path unless current_user.guest? %>
<% end%>
</div>
