<div class="your_name">
あなたの名前:<%= link_to current_user.name, user_path(current_user.id) %>
</div>
<% if user_signed_in? || current_user == 'host' %>
  <%#= link_to "ブログ投稿", blogs_path %>
  <%= link_to "宿登録", new_hostel_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "DM", message_rooms_path(@message_rooms) %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
<br>
<div class="border"></div>

<div class="covid_message">
<%= "新型コロナウイルス(COVID-19)に気をつけてください​​" %>
</div>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
    <%= link_to "報告書(作成中)", root_path, class: "dropdown-item" %>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

  <%= link_to 'top_page', root_path %>
  <%#= yield %>
