<div class="your_name">
あなたの名前:<%#= link_to current_user.name, user_path(current_user.id) %>
</div>
<% if user_signed_in? || current_user == 'host' %>
  <%#= link_to "ブログ投稿", blogs_path %>
  <%= link_to "宿登録", new_hostel_path %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <%= link_to "DM", message_rooms_path(@message_rooms) %>
<% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
<% end %>
<br>

<%= link_to 'top_page', root_path %>
<div class="border"></div>

<div class="covid_19_message">
<%= "新型コロナウイルス(COVID-19)に気をつけてください​​" %>
</div>
<div class="wrapper typo">This is a custom<div class="list"><span class="placeholder">select</span>
        <ul class="list__ul">
        <div class="a">
          <li><%= link_to "DM", message_rooms_path(@message_rooms) %>DM</li>
          <li><%= link_to "DM", root_path %></li>
        </div>
            <li><a href="">select</a></li>
            <li><a href="">lorem</a></li>
            <li><a href="">ipsum</a></li>
            <li><a href="">dolor</a></li>
            <li><a href="">sit</a></li>
            <li><a href="">amet</a></li>
        </ul>
    </div>
</div>


  <%#= yield %>
<script>
console.clear();

var el = {};

$('.placeholder').on('click', function (ev) {
  $('.placeholder').css('opacity', '0');
  $('.list__ul').toggle();
});

 $('.list__ul a').on('click', function (ev) {
   ev.preventDefault();
   var index = $(this).parent().index();

   $('.placeholder').text( $(this).text() ).css('opacity', '1');

   console.log($('.list__ul').find('li').eq(index).html());

   $('.list__ul').find('li').eq(index).prependTo('.list__ul');
   $('.list__ul').toggle();

 });


$('select').on('change', function (e) {

  // Set text on placeholder hidden element
  $('.placeholder').text(this.value);

  // Animate select width as placeholder
  $(this).animate({width: $('.placeholder').width() + 'px' });

});
</script>