
<div class="hostel_form">
<%= form_with(model: @hostel, local: true, url: choose_new_or_edit) do |form| %>
  <% if @hostel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hostel.errors.count, "件のerror") %> により宿の保存ができません:</h2>

      <ul>
      <% hostel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row hostel-show">
  <div class="col-sm-12">
    <div class="aaa">
      <div class="photo_box">
      </div>
        <h4>宿情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
          <tr>
              <td><span class="badge">＊</span>　<%= form.label :写真 %></td>
              <td><% @hostel.images.each do |image| %>
              <li><%= image_tag image.url, class: "header_icon" %></li>
              <%= hidden_field :images, :images, multiple: true, value: image.identifier %>
              <% end %>
              <%= form.file_field :images, multiple: true %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :宿名 %></td>
              <td><%= form.text_area :name, placeholder: "宿名", class: "edit_new_form_name" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :住所 %></td>
              <td><%= form.text_area :address, placeholder: "住所", class: "edit_new_form_address" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :電話番号 %></td>
              <td><%= form.number_field :phone_number, placeholder: "例)0947-44-8811", class: "edit_new_form_phone_number" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :料金 %></td>
              <td><%= form.text_area :price, placeholder: "例)日本", class: "edit_new_form_country" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :国 %></td>
              <td><%= form.text_area :country, placeholder: "例)日本", class: "edit_new_form_country" %></td>
            </tr>
          </tbody>
        </table>

        <h4>部屋情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :部屋種類 %></td>
              <td><%= form.text_area :kind, placeholder: "種類", class: "edit_new_form_address" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :全部屋数 %></td>
              <td><%= form.text_area :capacity, placeholder: "例)3部屋", class: "edit_new_form_capacity" %></td>
            </tr>
          </tbody>
        </table>

        <h4>その他の情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :市内までの距離 %></td>
              <td><%= form.text_area :walk_city_time, placeholder: "例)徒歩10分", class: "edit_new_form_walk_city_time" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :詳細 %><br></td>
              <td><%= form.text_area :details, placeholder: "例)アメニティーは、ドライヤー、タオルがあります", class: "edit_new_form_details" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :宿周辺情報 %><br></td>
              <td><%= form.text_area :around_information, placeholder: "例)コンビニがあります", class: "edit_new_form_around_information" %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
    <br>
    <br>
    <div class="hostel_form_submit">
      <%= form.submit %>
    </div>
  <% end %>




<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $("#img_prev").attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#hostel_img").change(function(){
   readURL(this);
 });
});

</script>