
<div class="row hostel-show">
  <div class="col-sm-5">
    <div class="aaa">
    <%= form_with(model: @hostel, local: true, url: choose_new_or_edit) do |form| %>
      <% if @hostel.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(hostel.errors.count, "error!") %> 宿の保存ができません</h2>

          <ul>
          <% hostel.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="photo_box">
      </div>
        <h4 class="text-left pl-3">宿情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
          <tr>
              <td><span class="badge">＊</span>　<%= form.label :写真 %></td>
              <td><% @hostel.images.each do |image| %>
              <li><%= image_tag image.url, class: "header_icon" %></li>
              <%= hidden_field :images, :images, multiple: true, value: image.identifier %>
              <% end %>
              <div class="form_inf">※1枚以上5枚まで</div>
              <%= form.file_field :images, multiple: true %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :宿名 %></td>
              <td><%= form.text_area :name, placeholder: "宿名", class: "edit_new_form_name" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :住所 %></td>
              <td><%= form.text_area :address, placeholder: "住所", class: "edit_new_form_address" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :電話番号 %></td>
              <td><div class="form_inf">例)12345678900(半角のみ)</div><%= form.text_area :phone_number, class: "edit_new_form_phone_number" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :料金 %></td>
              <td><div class="form_inf">例)日本円で1泊約2000円〜</div><%= form.text_area :price, class: "edit_new_form_country" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :国 %></td>
              <td><div class="form_inf">例)アメリカ</div><%= form.text_area :country, class: "edit_new_form_country" %></td>
            </tr>
          </tbody>
        </table>

        <h4 class="text-left pl-3">部屋情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :部屋種類 %></td>
              <td><div class="form_inf">例)ドミトリー◯室,ツイン◯室</div><%= form.text_area :kind, class: "edit_new_form_address" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :全部屋数 %></td>
              <td><div class="form_inf">例)◯室</div><%= form.text_area :capacity, class: "edit_new_form_capacity" %></td>
            </tr>
          </tbody>
        </table>

        <h4 class="text-left pl-3">その他の情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :市内までの距離 %></td>
              <td><div class="form_inf">例)徒歩約10分</div><%= form.text_area :walk_city_time, class: "edit_new_form_walk_city_time" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :詳細 %><br></td>
              <td><div class="form_inf">例)アメニティーは、◯◯◯があります</div><%= form.text_area :details, class: "edit_new_form_details" %></td>
            </tr>
            <tr>
              <td><span class="badge">＊</span>　<%= form.label :宿周辺情報 %><br></td>
              <td><div class="form_inf">例)コンビニがあります</div><%= form.text_area :around_information, class: "edit_new_form_around_information" %></td>
            </tr>
          </tbody>
        </table>
        <div class="hostel_form_submit mt-4">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>




<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $("#img_prev").attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#hostel_img").change(function(){
   readURL(this);
 });
});

</script>