

<%= form_with(model: @hostel, url: hostels_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :address %>
  <%= form.hidden_field :kind %>
  <%= form.hidden_field :walk_city_time %>
  <%= form.hidden_field :price %>
  <%= form.hidden_field :images_cache %>
  <%= form.hidden_field :details %>
  <%= form.hidden_field :around_information %>
  <%= form.hidden_field :country %>
  <%= form.hidden_field :capacity %>
  <%= form.hidden_field :phone_number %>

<% end %>

<%= render "border" %>
<h3>以下の内容で、送信する。</h3>
<br>
<br>
<%= form_with(model: @hostel, url: hostels_path, local: true) do |form| %>
<div class="row hostel-show">
  <div class="col-sm-7">
    <div class="aaa">
      <div class="photo_box">
        <% @hostel.images.each do |image| %>
          <li><%= image_tag image.url, class: "header_icon" %></li>
          <%= hidden_field :images, :images, multiple: true, value: image.identifier %>
          <%= form.hidden_field :images_cache %>
        <% end %>
      </div>
        <h4>宿情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>宿名</td>
              <td><%= @hostel.name %></td>
              <%= form.hidden_field :name %>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @hostel.address %></td>
              <%= form.hidden_field :address %>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @hostel.phone_number %></td>
              <%= form.hidden_field :phone_number %>
            </tr>
            <tr>
              <td>値段</td>
              <td><%= @hostel.price %></td>
              <%= form.hidden_field :price %>
            </tr>
            <tr>
              <td>国</td>
              <td><%= @hostel.country %></td>
              <%= form.hidden_field :country %>
            </tr>
          </tbody>
        </table>

        <h4>部屋情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>部屋タイプ</td>
              <td><%= @hostel.kind %></td>
              <%= form.hidden_field :kind %>
            </tr>
            <tr>
              <td>部屋数</td>
              <td><%= @hostel.capacity %></td>
              <%= form.hidden_field :capacity %>
            </tr>
          </tbody>
        </table>

        <h4>その他の情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>市内までの距離</td>
              <td><%= @hostel.walk_city_time %></td>
              <%= form.hidden_field :walk_city_time %>
            </tr>
            <tr>
              <td>詳細情報</td>
              <td><%= @hostel.details %></td>
              <%= form.hidden_field :details %>
            </tr>
            <tr>
              <td>宿周辺の情報</td>
              <td><%= @hostel.around_information %></td>
              <%= form.hidden_field :around_information %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<div class="hostel_comfirm_submit"><%= form.submit  "登録する" %></div>
<div class="hostel_comfirm_submit2"><%= form.submit "戻る", name: 'back' %></div>

<% end %>