<div class="hostel_index">
<%= form_with(model: @q, url: hostels_path, method: :get, local: true) do |f| %>
  <%#= f.label :name, "国名か宿名で検索" %>
  <%= f.text_field :name_or_country_cont_any, class: "textbox_two", placeholder: "Search", autocomplete: "off", maxlength: "60" %>
  <%#= f.submit %>
<% end %>
</div>
<p><%= @hostels.count %>軒の宿が見つかりました</p>
<div class="hostel_box">
<table class="sample">
<% if @hostels.present? %>
<tbody>
  <% @hostels.each do |hostel| %>
  <%# byebug %>


    <tr>
      <td>写真：</td>
      <%# byebug %>
      <% hostel.images do |img| %>
        <%= image_tag img.url, class: "hostel_icon" %>
      <% end %>
    <tr>
      <td>宿名：</td>
      <td><%= link_to hostel.name, hostel_path(hostel.id) %></td>
    </tr>
    <tr>
      <td>住所：</td>
      <td><%= hostel.address %></td>
    </tr>
    <tr>
      <td>国：</td>
      <td><%= hostel.country %></td>
    </tr>
  <% end %>
  </tbody>
<% else %>
  <div class="not_search">
    <p>一致する宿がありません。条件を変えて検索してみよう！</p>
  </div>
<% end %>


</table>


  <div class="address_point">

    <%= select_tag "keyword", options_from_collection_for_select(@hostels, :address, :name), {prompt: "行きたい宿の場所をみる！"}  %>
    <%#= select_tag "country_key", options_from_collection_for_select(@hostels, :country, :country), {prompt: "行きたい宿の場所をみる！"}  %>
    <%#= text_field "country_key", placeholder: "検索" %>
    <input type="text_index" id="country_key" >
    <button id="search">検索実行</button>
    <button id="clear">結果クリア</button>
    <div id="target"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async defer></script>
  </div>

</div>
