



<table class="table table-borderless">
  <thead>

  </thead>
  <tbody>
    <tr>
      <th scope="row">宿名</th>
      <td><%= @hostel.name %></td>
    </tr>
    <tr>
      <th scope="row">住所</th>
      <td><%= @hostel.address %></td>

    </tr>
    <tr>
      <th scope="row">電話番号</th>
      <td><%= @hostel.phone_number %></td>
    </tr>

    <tr>
      <th scope="row">部屋タイプ</th>
      <td><%= @hostel.kind %></td>
    </tr>

    <tr>
      <th scope="row">国</th>
      <td><%= @hostel.country %></td>
    </tr>

    <tr>
      <th scope="row">部屋数</th>
      <td><%= @hostel.capacity %></td>
    </tr>

    <tr>
      <th scope="row">宿泊料金</th>
      <td><%= @hostel.price %></td>
    </tr>

    <tr>
      <th scope="row">詳細</th>
      <td><%= @hostel.delete %></td>
    </tr>

    <tr>
      <th scope="row">宿周辺の情報</th>
      <td><%= @hostel.around_information %></td>
    </tr>
  </tbody>
</table>