<h1>Hostels#new</h1>
<h1>宿登録</h1>
<%= render "form", hostel: @hostel %>



#   <script>
# const geocoder = new google.maps.Geocoder()

# map = new google.maps.Map(
#     document.getElementById('map'), {
#         center: {
#             lat: <%= @hostel.latitude || 0 %>,
#             lng: <%= @hostel.longitude || 0 %>,
#         },
#         zoom: 12,
#     }
# );

# marker = new google.maps.Marker({
#     position:  {
#         lat: <%= @hostel.latitude || 0 %>,
#         lng: <%= @hostel.longitude || 0 %>,
#     },
#     map: map
# });
# </script>