<%= render "border" %>

<h3>宿詳細情報</h3>
<div class="hostel_show">
  <div class="hostel_inner_show">
      宿の写真<i class="fa fa-picture-o" aria-hidden="true"></i>:<br>
      <br>
    <div class="hostel_show_images">
      <% @hostel.images.each do |img| %>
        <%= image_tag img.url, class: "hostel_show_icon" %>
      <% end %>
    </div>
    <br>
    <br>
    <span class="hostel_show_left">宿名:　<%= @hostel.name %></span>
    <br>
    <br>
    <span class="hostel_show_left">住所:　<%= @hostel.address %></span>
    <br>
    <br>
    <span class="hostel_show_left">電話番号:　<%= @hostel.phone_number %></span>
    <br>
    <br>
    <span class="hostel_show_left">部屋タイプ:　<%= @hostel.kind %></span>
    <br>
    <br>
    <span class="hostel_show_left">国:　<%= @hostel.country %></span>
    <br>
    <br>
    <span class="hostel_show_left">部屋数:　<%= @hostel.capacity %></span>
    <br>
    <br>
    <span class="hostel_show_left">１泊の値段:　<%= @hostel.price %> 〜 </span>
    <br>
    <br>
    <span class="hostel_show_left">市内までの距離:　<%= @hostel.walk_city_time %></span>
    <br>
    <br>
    <span class="hostel_show_left">詳細情報:　<%= @hostel.details %></span>
    <br>
    <br>
    <span class="hostel_show_left">宿周辺の情報:　<%= @hostel.around_information %></span>
    <br>
    <br>

    <%# binding.irb%>
    <span class="hostel_show_left"><i class="fa fa-check" aria-hidden="true"></i><%= link_to '予約する', message_rooms_path(sender_id: current_user.id, recipient_id: @hostel.host.id), method: :post %></span>
    <br>
    <%# byebug%>
      <span class="hostel_show_left"><%= link_to 'edit', edit_hostel_path %></span><br>
      <span class="hostel_show_left"><%= link_to 'delete', hostel_path(@hostel.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></span>
      <span class="hostel_show_left"><%= link_to 'Back', hostels_path %></span><br>
  </div>
</div>
