<%= render "border" %>

<h3>宿詳細情報</h3>
<div class="hostel_show">
  <div class="hostel__inner_show">
    <div class="hostel_show_images">
      宿の写真<i class="fa fa-picture-o" aria-hidden="true"></i>:<br>
      <% @hostel.images.each do |img| %>
        <span><%= image_tag img.thumb.url, class: "hostel_icon" %>　　　</span>
      <% end %>
    </div>
    <br>
    <br>
    <p> <i class="fa fa-home" aria-hidden="true"></i>宿名:　<%= @hostel.name %></p>

    <p> <i class="fa fa-map-o" aria-hidden="true"></i>住所:　<%= @hostel.address %></p>

    <p> <i class="fa fa-phone" aria-hidden="true"></i>電話番号:　<%= @hostel.phone_number %></p>

    <p> <i class="fa fa-bed" aria-hidden="true"></i>部屋タイプ:　<%= @hostel.kind %></p>

    <p> <i class="fa fa-globe" aria-hidden="true"></i>国:　<%= @hostel.country %></p>

    <p> <i class="fa fa-star" aria-hidden="true"></i>部屋数:　<%= @hostel.capacity %></p>

    <p> <i class="fa fa-money" aria-hidden="true"></i>１泊の値段:　<%= @hostel.price %> 〜 </p>

    <p> <i class="fa fa-car" aria-hidden="true"></i>市内までの距離:　<%= @hostel.walk_city_time %></p>

    <p> <i class="fa fa-commenting-o" aria-hidden="true"></i>詳細情報:　<%= @hostel.details %></p>

    <p> <i class="fa fa-street-view" aria-hidden="true"></i>宿周辺の情報:　<%= @hostel.around_information %></p>

    <i class="fa fa-check" aria-hidden="true"></i>
    <%= link_to '予約する', message_rooms_path(sender_id: current_user.id, recipient_id: @hostel.host.id), method: :post %>
    <br>
    <%# byebug%>

    <% if current_user.host == @hostel.host.id %>
    <%# byebug%>
      <%= link_to 'edit', edit_hostel_path %><br>
      <%= link_to 'delete', hostel_path(@hostel.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
      <%= link_to 'Back', hostels_search_path %><br>
    <% else %>
      <%= link_to 'Back', hostels_search_path %><br>
    <% end %>
    <%current_user.id == @hostel.host.id%>

    <% if current_user.present? %>
      <%#= @host.name %><br>
    <% end %>
  </div>
</div>

