<%= render "border" %>

<div class="row hostel-show">
  <div class="col-sm-7">
    <div class="aaa">
      <div class="photo_box">
          <% @hostel.images.each do |image| %>
            <%=  link_to image.url, 'data-lightbox': image do %>
            <br>
            <br>
            <div><%= image_tag image.url, class: "image_list" %></div>
            <% end %>
          <% end %>
      </div>
        <h4>宿情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>宿名</td>
              <td><%= @hostel.name %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @hostel.address %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @hostel.phone_number %></td>
            </tr>
            <tr>
              <td>値段</td>
              <td><%= @hostel.price %></td>
            </tr>
            <tr>
              <td>国</td>
              <td><%= @hostel.country %></td>
            </tr>
          </tbody>
        </table>

        <h4>部屋情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>部屋タイプ</td>
              <td><%= @hostel.kind %></td>
            </tr>
            <tr>
              <td>部屋数</td>
              <td><%= @hostel.capacity %></td>
            </tr>
          </tbody>
        </table>

        <h4>その他の情報</h4>
        <table>
          <colgroup>
            <col width="30%">
            <col width="70%">
          </colgroup>
          <tbody>
            <tr>
              <td>市内までの距離</td>
              <td><%= @hostel.walk_city_time %></td>
            </tr>
            <tr>
              <td>詳細情報</td>
              <td><%= @hostel.details %></td>
            </tr>
            <tr>
              <td>宿周辺の情報</td>
              <td><%= @hostel.around_information %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

<%# binding.pry %>
  <span class="reservation_btn"><%= link_to '予約する', message_rooms_path(sender_id: current_user.id, recipient_id: @hostel.host.user.id), method: :post, class: "btn btn-outline-info" if current_user.guest? %></span>
  <br>

  <% if current_user.host == @hostel.host %>
    <div class="hostel_btn">
      <%= link_to '編集する', edit_hostel_path, class: "btn btn-outline-dark" %>
      <%= link_to '削除する', hostel_path(@hostel.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, class: "btn btn-outline-dark" %>
    </div>
    <br>
    <br>
    <span class="hostel_show_left"><%= link_to 'Back', hostels_path %></span><br>
  <% else %>
    <span class="hostel_show_left"><%= link_to 'Back', hostels_path %></span><br>
  <% end %>
