<div class="hostel_show">
<h3>宿詳細情報</h3>

<p> 宿名: <%= @hostel.name %></p>
<p> 住所: <%= @hostel.address %></p>
<p> 電話番号: <%= @hostel.phone_number %></p>
<p> 部屋タイプ: <%= @hostel.kind %></p>
<p> 国: <%= @hostel.country %></p>
<p> 部屋数: <%= @hostel.capacity %></p>
<p> １泊の値段: <%= @hostel.price %> 〜 </p>
宿の写真:<br>
<% @hostel.images.each do |img| %>
  <%= image_tag img.thumb.url %>
<% end %>
<p> 市内までの距離: <%= @hostel.walk_city_time %></p>
<p> 詳細情報: <%= @hostel.details %></p>
<p> 宿周辺の情報: <%= @hostel.around_information %></p>
<%= link_to '予約する', message_rooms_path(sender_id: current_user.id, recipient_id: @hostel.host.id), method: :post %>
<br>
<% if current_user.id == @hostel.host.id %>
  <%= link_to 'edit', edit_hostel_path %><br>
<% end %>

<%= link_to 'Back', hostels_search_path %><br>

<% if current_user.present? %>
  <%= @host.name %><br>
<% end %>
</div>

