<!DOCTYPE html>
<html>
  <head>
    <title>GraduationApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <p id="notice"><%= notice %></p>
    <%#= params %>
    <%= render "header" %>
    <%= yield %>
    <%#= render "search" %>

    <%= render "footer" %>
  </body>
</html>
